<!-- <h1>Blog Posts</h1> -->
<div class="jumbotron">
  <h1>"Don't go JSON Waterfalls. <br>
    <small>Please stick to the Ruby on the Rails that you're used to. I know that you're going to have it your way or Node.js at all but I think you're moving too fast" </small>
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <h1>Recent Posts</h1>
      <hr>

      <% @posts.each do |post| %>
      <%= image_tag post.img %>
      <h1><%= link_to post.title, post %></h1>
      <p class="date"><%= post.created_at.strftime('%A, %B %d') %></p>
      <!-- <p><%= post.content %></p> -->
      <br>
      <%= link_to 'Read More', post_path(post) %>
      <hr>

    </div>
    <% end %>

    <!-- <div class="col-md-4">

    </div> -->
  </div>

  <div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>
</div>
